* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #e0e0e0;
  background-color: #121212;
  line-height: 1.6;
}

header {
  background: #1e1e1e;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.name {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  transition: opacity 0.4s ease 0.4s;
  position: relative;
}

.description {
  opacity: 0;
  font-size: 1rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease;
}

header:hover .name {
  opacity: 0;
  transition: opacity 0.4s ease;
}

header:hover .description {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

header nav a {
  color: #bbb;
  margin: 0 1rem;
  text-decoration: none;
}

header nav a:hover {
  color: #fff;
}

section {
  padding: 2rem;
  max-width: 900px;
  width: 90%;
  margin: 2rem auto;
}

.project-carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
  width: 100%;
  justify-content: flex-start;
}

.project-card {
  min-width: 250px;
  width: 250px;
  height: 400px;
  border-radius: 8px;
  text-align: center;
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  background: linear-gradient(135deg, #2a2a2a, #3b3b3b);
  color: #e0e0e0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease 0.05s, box-shadow 0.3s ease 0.05s;
  padding-bottom: 100px;
}

.project-card h3 {
  margin: 0;
  padding: 0 10px;
  font-size: 1.2em;
  color: #ffffff;
  white-space: nowrap;
}

.project-card p {
  margin: 10px 0;
  padding: 0 10px;
  color: #bbbbbb;
  overflow-wrap: break-word;
}

.project-card a {
  color: #000000;
  text-decoration: none;
}

.project-card a:hover {
  color: #555555;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

.project-carousel {
  scrollbar-width: thin;
  scrollbar-color: #555555 #1a1a1a;
}

.project-carousel::-webkit-scrollbar {
  height: 8px;
}

.project-carousel::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.project-carousel::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 4px;
}
